<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% title=typeof title !=='undefined' ? title : "Animal Kingdom" %>
    <title>
      <%=title%>
    </title>
    <link rel='stylesheet' href='/styles/style.css'>
    <link rel="stylesheet" href="/styles/main.css">
</head>

  <body class="anonymous">
    <main>
      <section>
        <img src="/images/AKlogo-white.svg" alt="Animal Kingdom">

        <form action="/user/login" method="post">
          <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
          </div>
          <button type="submit">Login</button>
        </form>
  
        <p>Don't have an account? <a href="/user/signup">Sign up</a></p>
        <br />
        <p><%= errMsg %></p>
      </section>

<%- include('../partials/footer') %>