<%- include('../partials/header') %>

<nav class="medical-records-nav">
    <a href="/user/<%=user._id%>">Dashboard</a> > <span>Medical Records</span>
</nav>
<section class="">
    <form action="/user/<%=user._id %>/appointments" method="POST">
    
        <label for="date">Date & Time: 
            <input type="datetime-local" name="date" required>
        </label><br/><br/>
    
        <button type="submit">Add Availability</button>
    </form>
</section>

<%- include('../partials/footer') %>