<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Animal Hospital</title>
    <!-- other head elements like CSS links -->
  </head>
  <body>
    <header>
      <!-- Navigation bar, logo, etc. -->
    </header>
  </body>
</html>
