<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Animal Hospital</title>
    <!-- other head elements like CSS links -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <!-- Navigation bar, logo, etc. -->
    </header>
    <h1><%= title %></h1>
