<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <!-- other head elements like CSS links -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <!-- Navigation bar, logo, etc. -->
      <nav>
          <a href="/user/<%=user._id%>">Home</a> |
          <% if(user.userType === "Veterinarian"){ %>
            <a href="/user/<%=user._id%>/appointments/new">Add Availability</a> |
            <a href="/user/<%=user._id%>/records/new">New Patient Record</a> 
          <% } %>
          <a href="/"><button>Logout</button></a>
      </nav>
      </header>
      <main>
