<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <!-- other head elements like CSS links -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <!-- Navigation bar, logo, etc. -->
      <nav>

      </nav>