<!DOCTYPE html>
<html>
  <head>
    <!-- other head elements like CSS links -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
 
    <a href="/user/login"><button>Login</button></a> | <a href="/user/signup"><button>Signup</button></a>

<footer><%- include('./partials/footer') %></footer>
