<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
</head>

<body>
    <header>
        <nav class="header-nav">
            <img class='logo' src="../public/images/hedgehog.svg" alt="Animal Kingdom Logo">
            <div class="nav-user">
                <ul class="hidden">
                    <li>My account</li>
                    <li>Settings</li>
                </ul>
                <div class="notification">
                    <img class='bell' src="../public/images/bell.png" alt="Dropdown arrow">
                    <div class="dot"></div>
                </div>
                <img class='avatar' src="../public/images/avatar.jpg" alt="User Avatar">
                <p>Hello, <span>Billie</span></p>
            </div>
        </nav>
    </header>

    <main>
        <section class="pet-section">
            <div class="card pet-card">
                <div>
                    <img class='pet-img' src="../public/images/pet.jpg" alt="Pet">
                    <div class="pet-info">
                        <h4>Jorge</h4>
                        <p>Dog</p>
                        <p>French Bulldog</p>
                        <p>8 years old</p>
                    </div>
                    <a class='card-btn' href="">Medical Records</a>
                </div>
                <a class='card-edit' href="">Edit</a>
            </div>
            <div class="card add-pet">
                <p>Add</p>
            </div>
        </section>
        <section class="apointments card">

        </section>
    </main>
</body>

</html>