<!--views/users/signup.js-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% title=typeof title !=='undefined' ? title : "Animal Kingdom" %>
    <title><%=title%></title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/default.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="/scripts/functions.js" defer></script>
  </head>

  <body class="anonymous">
    <main class="signup">
      <section class="signup-content container">
        <h1>Sign up</h1>
        <p>Let's get started with a little bit about you</p>
        <form action="/user/signup" method="POST">
          <div class="input-group">
            <div>
              <label for="firstName">First name</label>
              <input
                type="text"
                name="firstName"
                placeholder="Jorge"
                required
              />
            </div>
            <div>
              <label for="lastName">Last name</label>
              <input
                type="text"
                name="lastName"
                placeholder="Cooper"
                required
              />
            </div>
          </div>

          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            placeholder="name@email.com"
            required
          />

          <label for="username">Username</label>
          <input type="text" name="username" placeholder="jcooper" required />

          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />

          <label for="phone">Phone</label>
          <input type="tel" name="phone" placeholder="0001112222" required />

          <label for="userType">Are you a Pet Owner or a Veterinarian?</label>
          <select
            name="userType"
            id="userType"
            onchange="toggleSpecializationField()"
            required
          >
            <option value="" disabled selected>Select One</option>
            <option value="Owner">Owner</option>
            <option value="Veterinarian">Veterinarian</option>
          </select>

          <div class="specialization-field single-group">
            <label for="specialization">Specialization</label>
            <input type="text" name="specialization" placeholder="Surgery" />
          </div>

          <button class="btn-xl" type="submit">Sign Up</button>
        </form>

        <p>Already have an account? <a href="/user/login">Log in</a></p>
      </section>

      <%- include('../partials/footer'); %>
    </main>
  </body>
</html>
