@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Lato:wght@300;400;700;900&display=swap');

:root {
  --peach             : #ff9a8b;
  --lemon             : #ffe26f;
  --gray              : #e8e8e8;
  --dark-gray         : #4c4c4c;
  --avocado           : #3ddc99;
  --lime              : #009757;
  --blue-primary      : #0057a0;
  --blue-secondary    : #0094ff;
  --border-color      : #dadada;
  --bg-default        : #f2f2f2;
  --font-color        : #333333;
  --input-border-color: #CBCBCB;
}

* {
  box-sizing: border-box;
  margin    : 0;
}

body {
  font-family     : 'Lato', sans-serif;
  font-size       : 16px;
  background-color: var(--bg-default);
  color           : var(--font-color);
}

main {
  max-width: 70%;
  margin   : 0 auto;
}

a {
  color          : var(--blue-primary);
  text-decoration: none;
}

button {
  border          : 1px solid var(--blue-secondary);
  background-color: transparent;
  color           : var(--blue-primary);
  border-radius   : 1rem;
  cursor          : pointer;
  padding         : .25rem .75rem;
}

h1 {
  font-family   : 'Bubblegum Sans', sans-serif;
  font-size     : 3.25rem;
  font-weight   : 400;
  color         : var(--lime);
  letter-spacing: 0.0975rem;
  margin        : 3.75rem 0 0;
}

h2 {
  font-size     : 1.6245rem;
  font-weight   : 800;
  letter-spacing: 0.04875rem;
  color         : #464646;
  margin        : 0 0 1.87rem;
}

form {
  display       : flex;
  flex-direction: column;
  width         : 100%;
}

label {
  color         : #000;
  letter-spacing: 0.03rem;
}

input,
select {
  border-radius : .1875rem;
  border        : 1px solid #cbcbcb;
  height        : 1.875rem;
  padding       : .5rem;
  margin        : .31rem 0 .62rem;
  font-size     : .875rem;
  letter-spacing: 0.02625rem;
}

select {
  padding: 0 .5rem;
}

/*
REMs:
40px -> 2.5
32px -> 2
24px -> 1.5
18px -> 1.125
14px -> 0.875
12px -> 0.75
10px -> 0.625
8px -> 0.5
6px -> 0.375
4px -> 0.25
*/