/* Landing Page */
.anonymous {
  background-color: #3ddc99;
}
.anonymous .welcome,
.anonymous .login,
.anonymous .signup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.anonymous .welcome,
.anonymous .login {
  min-height: calc(100vh - 2rem);
}
.anonymous .container {
  background-color: #fff;
  padding: 3.88rem 3.62rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  max-width: 30rem;
  box-shadow: 0px 4px 23px 6px rgba(0, 0, 0, 0.04);
}
.anonymous section {
  flex-direction: column;
}
.anonymous section img:first-child {
  margin-bottom: 3.56rem;
}
.anonymous section img:last-child {
  margin-top: 1.32rem;
}
.anonymous .login .login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  min-height: 70%;
  height: fit-content;
}
.anonymous .login .login-content h1 {
  margin: 0 0 2.5rem;
}
.anonymous .login .login-content form input {
  height: 2.875rem;
  margin: 0.31rem 0 1.88rem;
}
.anonymous .login .login-content p {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.03375rem;
}
.anonymous .login .login-content p a {
  color: #009757;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
.anonymous .login .login-content p.error {
  color: #e73b3b;
  text-align: center;
  padding: 0 0 0.25rem;
  height: 1.75rem;
}
.anonymous .signup .signup-content {
  display: flex;
  align-items: center;
  margin: 5.38rem 0 3.12rem;
}
.anonymous .signup .signup-content h1 {
  margin: 0 0 1.25rem;
}
.anonymous .signup .signup-content p:first-of-type {
  color: #4c4c4c;
  margin-bottom: 1.88rem;
}
.anonymous .signup .signup-content form .input-group {
  display: flex;
  justify-content: space-between;
  gap: 0.62rem;
}
.anonymous .signup .signup-content form .input-group div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.anonymous .signup .signup-content form .single-group {
  flex-direction: column;
}
.anonymous .signup .signup-content form button {
  margin: 1.88rem 0;
}
.anonymous .signup .signup-content p:last-of-type {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.03375rem;
}
.anonymous .signup .signup-content p:last-of-type a {
  color: #009757;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
.anonymous .specialization-field {
  display: none;
}

/* Card Styles */
.card {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #dadada;
  padding: 1.25rem;
  border-radius: 0.5rem;
  width: 16.5rem;
}
.card .card-edit {
  position: absolute;
  left: 1rem;
  font-size: 1rem;
}
.card form {
  width: auto;
}
.card .card-delete {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.card .card-btn {
  width: 100%;
  height: 2.9375rem;
  letter-spacing: 0.03375rem;
  font-size: 1.125rem;
  padding: 0.375rem 0;
  border: 1px solid #0094ff;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header Styles */
.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.75rem 2rem;
}
.header-nav ul {
  list-style: none;
  display: flex;
}
.header-nav .nav-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-nav .nav-items a {
  color: #4c4c4c;
}
.header-nav .nav-items a:hover {
  color: #0057a0;
}
.header-nav .nav-items .logo {
  margin: 0.25rem 0.625rem 0 0;
  max-height: 2.5rem;
}
.header-nav .nav-user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-nav .nav-user ul {
  position: absolute;
  top: 45px;
  right: 0;
  font-size: 0.875rem;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.15);
  width: 7.8125rem;
}
.header-nav .nav-user .notification {
  position: relative;
  padding: 0.15rem;
}
.header-nav .nav-user .notification .bell {
  width: 20px;
  height: 20px;
}
.header-nav .nav-user .notification .dot {
  position: absolute;
  top: 1.5px;
  right: 1px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(241, 2, 2);
}
.header-nav .nav-user .avatar {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  cursor: pointer;
}

/* Upcoming Appointments Overview - users/show.ejs */
.appointments-overview {
  margin: 4.38rem 0;
}
.appointments-overview div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.88rem;
}
.appointments-overview div form {
  font-size: 0.875rem;
  padding: 1.25rem;
  max-width: 16.6875rem;
  border: 2px solid #96cfb7;
  border-radius: 0.5rem;
  background-color: #fff;
  letter-spacing: 0.02625rem;
}
.appointments-overview div form > p:first-child {
  font-size: 1rem;
  font-weight: 700;
}
.appointments-overview div form .date {
  display: flex;
  margin: 0.35rem 0;
}
.appointments-overview div form .date p:last-child {
  position: relative;
  margin-left: 15px;
}
.appointments-overview div form .date p:last-child:before {
  content: url("/images/clock.svg");
  position: absolute;
  bottom: -2px;
  left: -18px;
}
.appointments-overview div form button {
  border: 0;
  padding: 0;
  max-width: 30%;
  margin: 1rem auto 0;
}
.appointments-overview div form button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.appointments-overview div .book-appt {
  width: 16.6875rem;
  background-color: #e8e8e8;
  align-items: center;
  min-height: 8.75rem;
}
.appointments-overview div .book-appt a {
  position: relative;
  font-size: 1.125rem;
  font-weight: 500;
  color: #4c4c4c;
  letter-spacing: 0.03375rem;
  padding: 0;
  border: 0;
}
.appointments-overview div .book-appt a:before {
  content: url("/images/add.svg");
  position: absolute;
  left: -30px;
  bottom: -7px;
}

.book-appointment table {
  width: 100%;
  text-align: center;
}
.book-appointment table a {
  margin: 0;
}
.book-appointment .no-appt {
  text-align: center;
}

/* Pet Overview - users/show.ejs */
.pet-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 0;
  gap: 1.25rem;
}
.pet-overview h2 {
  width: 100%;
  margin: 0;
}
.pet-overview .pet-card {
  height: 22.1875rem;
  position: relative;
}
.pet-overview .pet-card div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pet-overview .pet-card div .pet-img {
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.pet-overview .pet-card div .pet-info {
  padding: 0.62rem 0;
  text-align: center;
}
.pet-overview .pet-card div .pet-info h4 {
  font-size: 1.125rem;
  font-weight: 700;
}
.pet-overview .pet-card div .pet-info p {
  padding: 0.62rem 0 0 0;
}
.pet-overview .add-pet {
  height: 22.1875rem;
  background-color: #e8e8e8;
  align-items: center;
}
.pet-overview .add-pet button {
  position: relative;
  font-size: 1.125rem;
  font-weight: 500;
  color: #4c4c4c;
  letter-spacing: 0.03375rem;
  padding: 0;
  border: 0;
}
.pet-overview .add-pet button:before {
  content: url("/images/add.svg");
  position: absolute;
  left: -30px;
  bottom: -7px;
}

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup .new-pet,
.popup .new-record {
  position: relative;
  padding: 2.88rem 2.62rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 23px 6px rgba(0, 0, 0, 0.04);
  min-width: 25rem;
}
.popup .new-pet .close-btn,
.popup .new-record .close-btn {
  position: absolute;
  border: 0;
  top: 1rem;
  right: 1rem;
}

.add-record {
  height: 22.1875rem;
  background-color: #e8e8e8;
  align-items: center;
}
.add-record button {
  position: relative;
  font-size: 1.125rem;
  font-weight: 500;
  color: #4c4c4c;
  letter-spacing: 0.03375rem;
  padding: 0;
  border: 0;
}
.add-record button:before {
  content: url("/images/add.svg");
  position: absolute;
  left: -30px;
  bottom: -7px;
}

.edit-pet,
.book-appointment,
.appt-reason,
.records-create-edit {
  padding: 2.88rem 2.62rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 23px 6px rgba(0, 0, 0, 0.04);
  max-width: 25rem;
  margin: 3rem auto;
}
.edit-pet h2,
.edit-pet a,
.book-appointment h2,
.book-appointment a,
.appt-reason h2,
.appt-reason a,
.records-create-edit h2,
.records-create-edit a {
  text-align: center;
}
.edit-pet a,
.book-appointment a,
.appt-reason a,
.records-create-edit a {
  display: block;
  margin-top: 1rem;
}

.medical-records-nav {
  color: #2c2c2c;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0225rem;
  padding: 2rem 0 1.25rem;
}
.medical-records-nav a {
  color: #2c2c2c;
}
.medical-records-nav a:hover {
  color: #0057a0;
}
.medical-records-nav span {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.medical-records {
  border: 1px solid #dadada;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.88rem 1.88rem 4.38rem;
}
.medical-records h2 {
  font-size: 1.25rem;
  letter-spacing: 0.0375rem;
}
.medical-records h3 {
  font-size: 1rem;
  font-weight: 700;
}
.medical-records .pet-about {
  margin-bottom: 1.88rem;
}
.medical-records .pet-about p {
  margin-top: 0.62rem;
}
.medical-records table {
  text-align: left;
  width: 100%;
}
.medical-records table th,
.medical-records table td {
  border-bottom: 1px solid #e9e9e9;
}
.medical-records table th {
  padding: 1.25rem 0 0.94rem;
}
.medical-records table td {
  padding: 0.94rem 0;
  text-transform: capitalize;
  text-overflow: ellipsis;
}
.medical-records table .time,
.medical-records table .date,
.medical-records table .diagnosis {
  width: 11%;
}
.medical-records table .medication {
  width: 20%;
  padding: 0 2px;
}
.medical-records table .records-action {
  width: 10%;
}
.medical-records table .edit {
  content: url("/images/edit.svg");
  margin: 0 0.25rem;
}
.medical-records table .trash {
  border: 0;
  padding: 0;
  height: 24px;
  width: 24px;
}
.medical-records table .trash:before {
  content: url("/images/trash.svg");
  margin: 0 0.375rem;
}
.medical-records .no-records {
  padding-top: 1rem;
}

.btn-save {
  border-radius: 0;
  color: #fff;
  background-color: #009757;
  padding: 0.7rem 0;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1rem;
}

.relative {
  position: relative;
}

.flex-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  text-transform: capitalize;
}

.hidden {
  display: none !important;
}

.error {
  color: #e73b3b;
}

.btn-xl {
  background-color: #009757;
  border: 0;
  color: #fff;
  width: 22.25rem;
  padding: 1.25rem 0;
  margin-bottom: 1.81rem;
  border-radius: 0.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.045rem;
}
