.btn-save {
	border-radius: 0;
	color: #fff;
	background-color: $lime;
	padding: 0.7rem 0;
	margin-top: 1rem;
	font-weight: 700;
	font-size: 1rem;
}

.relative {
	position: relative;
}

.flex-center-xy {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-name {
	text-transform: capitalize;
}

.hidden {
	display: none !important;
}

.error {
	color: $danger;
}

.btn-xl {
	background-color: $lime;
	border: 0;
	color: #fff;
	width: 22.25rem;
	padding: 1.25rem 0;
	margin-bottom: 1.81rem;
	border-radius: 0.5625rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 0.045rem;
}

.in-app-nav {
	color: #2c2c2c;
	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: 0.0225rem;
	padding: 2rem 0 1.25rem;
	a {
		color: #2c2c2c;
		&:hover {
			color: $blue-primary;
		}
	}
	span {
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}

.card {
	display: flex;
	justify-content: center;
	background-color: #fff;
	border: 1px solid $border-color;
	padding: 1.25rem;
	border-radius: 0.5rem;
	width: 16.5rem;
	.card-edit {
		position: absolute;
		left: 1rem;
		font-size: 1rem;
	}
	form {
		width: auto;
	}
	.card-delete {
		position: absolute;
		right: 1rem;
		top: 1.2rem;
		border: none;
		background-color: transparent;
		padding: 0;
		cursor: pointer;
	}
	.card-btn {
		width: 100%;
		height: 2.9375rem;
		letter-spacing: 0.03375rem;
		font-size: 1.125rem;
		padding: 0.375rem 0;
		border: 1px solid $blue-secondary;
		border-radius: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.edit-pet,
.book-appointment,
.appt-reason,
.records-create-edit,
.create-av {
	padding: 2.88rem 2.62rem;
	background-color: white;
	border-radius: 0.5rem;
	box-shadow: 0px 4px 23px 6px rgba(0, 0, 0, 0.04);
	max-width: 25rem;
	margin: 3rem auto;
	h2,
	a {
		text-align: center;
	}
	a {
		display: block;
		margin-top: 1rem;
	}
}

.trash {
	border: 0;
	padding: 0;
	height: 24px;
	width: 24px;
	&:before {
		content: url('/images/trash.svg');
		margin: 0 0.375rem;
	}
}
