$peach: #ff9a8b;
$lemon: #ffe26f;
$gray: #e8e8e8;
$dark-gray: #4c4c4c;
$avocado: #3ddc99;
$lime: #009757;
$blue-primary: #0057a0;
$blue-secondary: #0094ff;
$border-color: #dadada;
$input-border-color: #cbcbcb;
$danger: #e73b3b;

@import 'utilities';
@import 'account';
@import 'anonymous';
@import 'appointments';
@import 'availability';
@import 'dashboard';
@import 'header';
@import 'medical-records';
@import 'popup';